In [ ]:
##Programming Assignment 2 Solutions

In [1]:
def km_miles():
    choice = int(input('Enter 1 to convert miles to km and 2 to convert km to miles '))
    if choice == 1:
        miles = float(input('Enter miles to covert into km '))
        kms = miles*1.609344
        print(miles , 'miles are equal to' , kms, 'kms')
    elif choice == 2:
        kms = float(input('Enter kms to convert into miles '))
        miles = kms/1.609344
        print(kms , 'kms are equal to' , miles , 'miles')
    else:
        print('Incorrect choice, try again')

In [2]:
km_miles()

Enter 1 to convert miles to km and 2 to convert km to miles 12
Incorrect choice, try again

In [3]:
km_miles()

Enter 1 to convert miles to km and 2 to convert km to miles 1
Enter miles to covert into km 10
10.0 miles are equal to 16.09344 kms

In [4]:
km_miles()

Enter 1 to convert miles to km and 2 to convert km to miles 2
Enter kms to convert into miles 10
10.0 kms are equal to 6.2137119223733395 miles

In [5]:
def deg_f():
    choice = int(input('Enter 1 to convert Deg C to F and 2 to convert F to C '))
    if choice == 1:
        degC = float(input('Enter temperature in Deg C '))
        degF = (degC*9/5)+32
        print(degC , 'Celsius in Fahrenheit:' , degF , 'F')
    elif choice == 2:
        degF = float(input('Enter temperature in Fahrenheit to convert into C '))
        degC = (degF-32)*5/9
        print(degF , 'Fahrenheit in Celsius:' , degC , 'C')
    else:
        print('Incorrect choice Try again')

In [6]:
deg_f()

Enter 1 to convert Deg C to F and 2 to convert F to C 1
Enter temperature in Deg C 15
15.0 Celsius in Fahrenheit: 59.0 F

In [7]:
deg_f()

Enter 1 to convert Deg C to F and 2 to convert F to C 2
Enter temperature in Fahrenheit to convert into C 10
10.0 Fahrenheit in Celsius: -12.222222222222221 C

In [8]:
import calendar
print(calendar.month(2021,12))
print(calendar.calendar(2021,0,0,6))

   December 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [9]:
import cmath
def SolveQuadEq():
    print('This program solves a quadratic equation')
    a = float(input('Input <a> term in ax2+bx+c=0: '))
    b = float(input('Input <b> term in ax2+bx+c=0: '))
    c = float(input('Input <c> term in ax2+bx+c=0: '))
    x1 = (-b+cmath.sqrt(b**2-4*a*c))/(2*a)
    x2 = (-b-cmath.sqrt(b**2-4*a*c))/(2*a)
    print('Solutions of the entered equation are {0} and {1}'.format(x1,x2))

In [10]:
SolveQuadEq()

This program solves a quadratic equation
Input <a> term in ax2+bx+c=0: 3
Input <b> term in ax2+bx+c=0: 4
Input <c> term in ax2+bx+c=0: 5
Solutions of the entered equation are (-0.6666666666666666+1.1055415967851332j) and (-0.6666666666666666-1.1055415967851332j)

In [11]:
def Swap2nosNoTemp():
    print('This program swaps entered 2 numbers without a temporary variable')
    A = float(input('Enter number A: '))
    B = float(input('Enter number B: '))
    A,B = B, A
    print('New values of A: {0} and B: {1}'.format(A,B))

In [12]:
Swap2nosNoTemp()

This program swaps entered 2 numbers without a temporary variable
Enter number A: 10
Enter number B: 20
New values of A: 20.0 and B: 10.0